body{font:normal 4px/2.0 Arial, Helvetica, Free Sans, sans-serif;color: #222;background:url(../image/pattern.png);overflow-y:scroll;padding:60px 0 0 0;}
#main-form{width:320px;margin:0 auto;border:1px solid #ccc;padding:3em;border-radius:3px;box-shadow:0 0 2px rgba(0,0.1,0,.2);}
#comments{width:300px;height:100px;}
    
.title{
    font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
    background-color : #fff;
    color: #ff0000;
    font-size: 14px;
    text-align:center;
    font-weight:700;
}
#content{
    color: black;
    font-size: 11px;
    text-align:center;
}
.hide{
    color: blue;
    float: right;
    cursor: pointer;
    font-family: Microsoft JhengHei, serif;
    padding-right : 8px;
}
#appreciate {
 position: relative;
 height: 20px;
 cursor: pointer;
}
#appreciate img{
 display:none;
}
#appreciate:hover img{
 display:block;
}
