[submodule "LinxSrvc/test/googletest"]
	path = LinxSrvc/test/googletest
	url = https://github.com/google/googletest.git
[submodule "LinxSrvc/test/lcov"]
	path = LinxSrvc/test/lcov
	url = https://github.com/linux-test-project/lcov.git
