###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
#touch .gitattributes
*.h linguist-language=C++
*.cc linguist-language=C++
