*.aps
*.asm
*.baml
*.bat
*.cache
*.cpp
*.cs
*.DAT
*.db*
*.dll
*.ED
*.exe
*.exp
*.LK
*.ilk
*.ini
*.lib
*.log
*.metagen
*.o*
*.pdb
*.pfx
*.res*
*.suo
*.tlog
*.txt
*.user
*.XML
LinuxSrvc/
QtCases/
WinNTKline/
