# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.tlog
*.log

# Patch database
*.patch
*-hard
*.con
*.idb
*.ipch
*.suo
*.db
*.pdb
*.merged
*.recipe
.DS_Store
*.xcuserstate

# Built files
CMakeSettings.json
*/GeneratedFiles
*cmake-build-*
*/build
build
*.idea
*/moc_*
*/ui_*
*/test
/.vs*
!.vsconfig
*.user
*Debug
*bin
*obj
