# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

#Others
WinNTKline/MfcUtil/image/timg.png
WinNTKline/test/testUtils
QtCases/GeneratedFiles
QtCases/QtCases
QtCases/moc_*
QtCases/ui_*
*/Debug
/.vs*
*.tlog
*.log
*.patch
*-hard
*.con
*.idb
*.ipch
*.suo
*.db
*.pdb
*.merged
*.recipe
WinNTKline/MfcUtil/image/taoxi.png
WinNTKline/test/IM/acnts
*/obj/
*bin/
.DS_Store
*.xcuserstate
