<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bulutooth.oscillogragh.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:theme="@style/Base" >
			 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity 
			android:label="@string/startchart" 
			android:theme="@style/AppTheme"
			android:name=".WaveChart">
			<action android:name="bulutooth.oscillogragh.myapplication.WaveChart" />
		</activity>
		
		<activity 
			android:name=".SetText">
			<action android:name="bulutooth.oscillogragh.myapplication.SetText" />
		</activity>
		
		<service android:name=".MyService">
			<action android:name="bulutooth.oscillogragh.myapplication.MyService"/>
		</service>
		
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/title_activity_e"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:configChanges="orientation|keyboardHidden" />
    </application>
	
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.VIBRATE" /> 
</manifest>
