## Ignore patterns for build artifacts and temporary files
**/*/.*
**/*/*.ko
**/*/[Mm]odule*
**/*/*.mod.*
**/*.egg-info
**/*.tmp*
**/build
**/dist
**/lcov
#object files
*.xx*
*.user
*.suo
*.o
.vs*
#targets
bin
gen
out
kos
