<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.TsyQi909006258.bt">
    
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.VIBRATE" />

    <application
		android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/AppName"
        android:theme="@style/AppTheme" >
	
        <activity
            android:name=".MainActivity" >
			
			<intent-filter>
				
			<action android:name="android.intent.action.MAIN" />
				
		    <category android:name="android.intent.category.LAUNCHER"/>
				
			</intent-filter>
			
		</activity>

		<service
			android:name=".RecieveService"/>
		
		<activity
			android:name=".MoreActivity"
			android:label="@string/more" />
		
		<activity
			android:name=".ConnectActivity"
			android:label="@string/title">
			
            <intent-filter>
				
                <action android:name="android.intent.action.CONNECTION" />
					
            </intent-filter>
			
        </activity>
     
		<activity
			android:name=".TransportActivity"
			android:alwaysRetainTaskState="true"
			android:theme="@style/AppDialog"
            android:label="@string/window"
            tools:ignore="NewApi">
			
            <intent-filter>
				
                <action android:name="android.intent.action.NEW" />
				<category android:name="android.intent.category.LAUNCHER"/>
					
            </intent-filter>
			
        </activity>
		
		<activity
			android:name=".DeviceListActivity"
			android:label="@string/title_activity_e" 
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Holo.Dialog"
			android:configChanges="orientation|keyboardHidden"
            tools:ignore="NewApi"/>
		
		<activity
			android:name=".AboutActivity"
			android:label="@string/about" 
			android:theme="@android:style/Theme.Material.Dialog.Alert"
			android:configChanges="orientation|keyboardHidden"
            tools:ignore="NewApi"/>
		
		<activity
			android:name=".WriterActivity"
			android:theme="@style/AppDialog"
			android:screenOrientation="unspecified">
			
		<intent-filter>
			
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="file" />
				
		</intent-filter>
		
		</activity>
		
		<service android:name=".SavefileService" />
		
		<activity
			android:name=".FeedbackActivity"
			android:theme="@style/AppDialog"
			android:screenOrientation="unspecified">

			<intent-filter>

				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.SENDTO"/>
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="mail's" />

			</intent-filter>

		</activity>

		<meta-data android:name="TA_APPKEY" android:value="Aqc1103558758" />
			<meta-data android:name="InstallChannel" android:value="play" /> 
			 </application>
			<uses-permission android:name="android.permission.INTERNET"
							 tools:ignore="ManifestOrder"/>
			  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
                <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
		         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
			      <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

</manifest>
